body{
    background-color: rgba(15, 15, 15, 0.521);
  }
.empresas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    
}

.tituloprincipal {
    font-size: 30px;
    text-align: center;
    color: #b942ec;
    margin-bottom: 20px;

}

img {
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 200px;
    height: auto;
    max-width: 100%;
    max-height: auto;
    margin-left: 100px;
    /* Espacio entre la imagen y el texto */
}

.caja1 {
    display: flex;
    /* Activar flexbox */
    align-items: center;
    /* Alinear verticalmente al centro */
}

hr {
    color: rgb(174, 226, 43);
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .empresas-container {
        justify-content: center;
        /* Centrar elementos en pantallas pequeñas */
        margin: 20px;
        /* Reducir margen en pantallas pequeñas */
    }

    img {
        width: 127px;
        /* Reducir ancho de imagen en pantallas pequeñas */
        margin-left: 2;
        /* Quitar espacio entre la imagen y el texto en pantallas pequeñas */
    }

    .tituloprincipal {
        font-size: 1rem;
        /* Reducir tamaño de fuente */
    }

    .titulosecundario {
        font-size: 0.8rem;
        /* Reducir tamaño de fuente */
    }
}
  
 
  