body{
    background-color: rgb(8, 8, 8);
  }
  .tituloprincipal{
    text-align: center;
    color: #f2bb07;
  }
  h2{
    color: #f2bb07;
  }
  h3{
  color: #f2bb07;
  }
  
  .empresas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre tarjetas */
    justify-content: center; /* Centrar tarjetas */
  }
  
  .tarjeta {
    background-color: #e132f075; /* Fondo blanco para la tarjeta */
    border: 1px solid #0c0c0c; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(245, 237, 3, 0.921); /* Sombra */
    padding: 20px; /* Espaciado interno */
    max-width: 600px; /* Ancho máximo de la tarjeta */
    box-sizing: border-box; /* Incluir el padding y el borde en el tamaño total */
    margin-bottom: 20px; /* Margen inferior entre tarjetas */
    
  }
  
  .titulosecundario h1 {
   color: rgb(255, 255, 255);
    margin-bottom: 10px; /* Espacio debajo del título */
  }
  
  .caja1 {
    display: flex; /* Usar flexbox para el layout */
    align-items: center; /* Alinear verticalmente al centro */
  }
  
  .caja1 .descripcion {
    flex: 1; /* Tomar todo el espacio disponible */
  }
  
  .caja1 img {
    width: 150px; /* Ancho fijo para la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 5px; /* Bordes redondeados para la imagen */
    margin-left: 20px; /* Espacio a la izquierda de la imagen */
  }
  
  @media (max-width: 768px) {
    
    .tarjeta {
      flex: 1 1 calc(50% - 40px); /* 2 tarjetas por fila */
    }
  
    .caja1 {
      flex-direction: column; /* Colocar la imagen debajo de la descripción en pantallas más pequeñas */
    }
  
    .caja1 img {
      margin-left: 0; /* Eliminar margen izquierdo en pantallas pequeñas */
      margin-top: 10px; /* Añadir margen superior en pantallas pequeñas */
      width: 100%; /* Imagen de ancho completo */
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem; /* Reduce el tamaño en pantallas más pequeñas */
  }
  h2 {
    font-size: 1.5rem; /* Reduce el tamaño en pantallas más pequeñas */
  }
  h3 {
    font-size: 1.5; /* Reduce el tamaño en pantallas más pequeñas */
  }
    
    .tarjeta {
      flex: 1 1 100%; /* 1 tarjeta por fila */
      max-width: 100%;
    }
  }
  